If:
  PathMatch: .*/kernel/.*
CompileFlags:
  CompilationDatabase: kernel
Diagnostics:
  UnusedIncludes: None

---

If:
  PathMatch: .*/tests/.*
CompileFlags:
  CompilationDatabase: tests
Diagnostics:
  UnusedIncludes: None